@import '../../style/main.scss';

.slide-first {
  @include onTablet() {
    position: relative;

    display: flex;
    align-items: center;
    gap: 24px;
  }

  @include onDesktop() {
    margin-inline: 105px;
  }

  &__img {
    width: 100%;

    @include onTablet() {
      width: 50%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-block: 25px 45px;

    @include onTablet() {
      width: 50%;

      align-items: start;

      padding-block: 20px;
    }
  }

  &__label {
    @extend %label;
  }

  // винести у компонент щоб не дублювати 
  &__control {
    display: none;

    @include onTablet() {
      position: absolute;
      top: 24px;
      right: 0;
      display: flex;
      justify-content: end;
      gap: 15px;
    }
  }

  // винести у компонент щоб не дублювати 
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    border: 0.52px solid $divider-color;
    border-radius: 50%;

    @include hover(background-color, $divider-color);

    @include onDesktop() {
      width: 70px;
      height: 70px;
    }
  }

  &__title {
    color: $white-text-color;

    font-size: 32px;
    font-family: $manrope-regular;
    line-height: 120%;
    text-align: center;

    padding-block: 24px 28px;

    @include onTablet() {
      text-align: start;
    }

    @include onDesktop() {
      font-size: 40px;
    }
  }

  &__btn-more {
    width: 216px;
    height: 48px;
    color: azure;
    font-size: 30px;
  }
}