@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $tablet-min-desktop) {
    @content;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin paddingInlinePage() {
  padding-inline: 18px;

  @include onTablet() {
    padding-inline: 70px;
  }

  @include onDesktop() {
    padding-inline: 73px;
  }
}