@import '../../../../../style/main.scss';

.advantage {
  @include onTablet() {
    position: relative;
    display: flex;
  }

  &__img {
    width: 100%;
    aspect-ratio: 1;

    @include onTablet() {
      width: 50%;
    }
  }

  &__info {
    @include onTablet() {
      position: absolute;
      top: 50%;
      left: 45%;
      right: 0;
      transform: translateY(-50%);

      background-color: $white-text-color;

      padding: 24px 44px;
    }
  }

  &__title {
    color: $main-text-color;
    font-family: $manrope-regular;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;

    margin-block: 24px 10px;
  }

  &__text {
    @extend %body-text;
  }

  &__separator {
    display: none;

    @include onTablet() {
      display: block;
      margin-block: 0 15px;
      border: 1px solid $divider-color;
    }

    @include onDesktop() {
      margin-block: 30px;
    }
  }

  &__control {
    display: none;

    @include onTablet() {
      display: flex;
      justify-content: end;
      gap: 15px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 36px;
    height: 36px;
  
    border: 0.52px solid $divider-color;
    border-radius: 50%;

    @include hover(background-color, $divider-color);

    @include onDesktop() {
      width: 70px;
      height: 70px;
    }
  }
}
