.icon {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: 25px;
  height: 25px;

  @include onTablet {
    width: 30px;
    height: 30px;
  }

  &--hover {
    @include hover(transform, (scale(1.1)));
  }

  &--facebook {
    background-image: url(../../../icons/facebook.svg);
  }

  &--tik-tok {
    background-image: url(../../../icons/tik_tok.svg);
  }

  &--instagram {
    background-image: url(../../../icons/instagram.svg);
  }
}