@import '../../../../style/main.scss';

.advantages {
  &__content {
    @include onDesktop() {
      padding-inline: 290px;
    }
  }

  &__title {
    @extend %h2-style;

    line-height: 120%;
    color: $main-black;

    text-align: center;

    margin-bottom: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    @include onTablet() {
      flex-direction: row;
      overflow: hidden;
    }
  }

  &__item {
    @include onTablet() {
      flex: 0 0 100%;
      transition: translate 500ms;
    }
  }
}